@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$family-serif: 'Titillium Web', sans-serif;
$family-primary: $family-serif;

$control-radius: 0;


@import "../../node_modules/bulma/bulma";